@model IEnumerable<SchoolServiceModel>

@{
    ViewBag.Title = "Регистрирани училища";
}

@{
    int i = 1; 
}


<h1 class="text-center">@ViewBag.Title</h1>
<br />
<div class="row justify-content-center pt-3 pb-3">
    <a asp-area="Admin" asp-controller="Schools" asp-action="Add" class="btn btn-outline-danger btn-sm ml-2" role="button" aria-pressed="true">Добави училище</a>
    <a asp-area="Admin" asp-controller="Schools" asp-action="AddPopulatedArea" class="btn btn-outline-danger btn-sm ml-2" role="button" aria-pressed="true">Добави населено място</a>
    <a asp-area="Admin" asp-controller="Schools" asp-action="Requested" class="btn btn-outline-primary btn-sm ml-2" role="button" aria-pressed="true">Заявени училища</a>
</div>
<br />
<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Област</th>
            <th scope="col">Град</th>
            <th scope="col">Име на училище</th>
            <th scope="col">Код по НЕИСПУО</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@school.District</td>
                <td>@school.PopulatedArea</td>
                <td>@school.Name</td>
                <td>@school.SchoolCode</td>
            </tr>
            i++;
        }
    </tbody>
</table>