@model IEnumerable<SchoolViewModel>

@{
    ViewData["Title"] = "Регистрирани училища";
}

@{
    int i = 1; 
}


<h1 class="text-center">@ViewData["Title"]</h1>
<a asp-controller="Schools" asp-action="Add" class="btn btn-secondary btn-sm btn-dark active float-right" role="button" aria-pressed="true">Добави училище</a>
<br />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Област</th>
            <th scope="col">Град</th>
            <th scope="col">Име на училище</th>
            <th scope="col">Код по НЕИСПУО</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@school.District</td>
                <td>@school.PopulatedArea</td>
                <td>@school.Name</td>
                <td>@school.SchoolCode</td>
            </tr>
            i++;
        }
    </tbody>
</table>