@model TotalsServiceModel

@{
    ViewBag.Title = "Начало";
}


@if (!User.Identity.IsAuthenticated)
{

    <div class="jumbotron mt-4 text-center bg-secondary text-white">
        <h1 class="display-4" style="font-family: 'Kristen ITC'">
            <span class="text-warning">W</span>e <span class="text-warning">Q</span>uiz
        </h1>
        <hr class="my-4 w-75 border-white">
        <h2 class="display-6">Най-бързо растящата банка с въпроси.</h2>
        <a href="/Identity/Account/Login" class="btn btn-outline-warning btn-lg mt-4" role="button">Вход в системата</a>
    </div>
    <div class="card-body text-center text-white" style="background-color:orange">
        <div class="row mt-3 mb-3">
            <h2 class="display-6 col-4">@Model.TotalSchools училища</h2>
            <h2 class="display-6 col-4">@Model.TotalUsers потребители</h2>
            <h2 class="display-6 col-4">@Model.TotalQuestions въпроси</h2>
        </div>
    </div>
}
else
{
    var role = "потребител без училище";
    if (User.IsAdmin()) role = "администратор";
    if (User.IsSchoolAdmin()) role = "училищен администратор";
    if (User.IsTeacher()) role = "учител";
    if (User.IsStudent()) role = "ученик";
<div class="row justify-content-center">
    <div class="jumbotron mt-5 text-center bg-secondary text-white w-75">
        <h2 class="display-6">Здравейте, @ViewBag.Alias</h2>
        <hr class="my-4 w-75 border-white">
        <h2>Влязохте в системата като <span class="font-weight-bold">@role</span></h2>
    </div>
</div>
}